body {
    font-family: "Tajawal", sans-serif;
    text-align: center;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

#start-screen, #end-screen {
    padding: 40px;
}

#word {
    font-size: 70px;
    font-weight: bold;
    margin-top: 40px;
}

#buttons {
    margin-top: 40px;
}

.btn {
    padding: 15px 30px;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: #222;
    color: white;
}
